<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/responsive-3000.css">
        <link rel="stylesheet" href="/css/responsive-2460.css">
        <link rel="stylesheet" href="/css/responsive-1800.css">
        <link rel="stylesheet" href="/css/responsive-1560.css">
        <link rel="stylesheet" href="/css/responsive-1400.css">
        <link rel="stylesheet" href="/css/responsive-1200.css">
        <link rel="stylesheet" href="/css/responsive-1024.css">
        <link rel="stylesheet" href="/css/responsive-983.css">
        <link rel="stylesheet" href="/css/responsive-800.css">
        <link rel="stylesheet" href="/css/responsive-790.css">
        <link rel="stylesheet" href="/css/responsive-600.css">
        <link rel="stylesheet" href="/css/responsive-583.css">
        <link rel="stylesheet" href="/css/responsive-450.css">
        <link rel="stylesheet" href="/css/responsive-356.css">
        <link rel="stylesheet" href="/css/responsive-200.css">
 
    <title>Obra Primata</title>


</head>

<body>

    <header>
        <div class="row spotligth">
            <div class="col-md-2 col-lg-2 col-sm-2 spotligth-item spotligth-ligth">

                <div class="ligth-section">
                    <p class="spotligth-ligth-text-first">OBRA
                    </p>
                    <p class="spotligth-ligth-text-second">PRIMATA</p>
                </div>

                <div class="header-line "></div>
            </div>


            <div class="col-md-2 col-lg-2 spotligth-item spotligth-item-image show-500">
                <img class="spotligth-logo" src="images/header-logo.png">

            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 spotligth-item instinct-section">
                <p class="spotligth-slogan">INSTINTO CRIATIVO</p>
            </div>
            <div class="col-md-2 col-lg-2 spotligth-item spotligth-item-image hide-500">
                <img class="spotligth-logo" src="images/header-logo.png">

            </div>
        </div>

        <div class="row banner">
            <div class="col-md-7 col-lg-8 col-sm-12 col-xs-12 banner-lets-section">
                <p class="banner-lets-text banner-1">LET'S</p>
                <p class="banner-lets-text banner-2">MAKE</p>
                <p class="banner-lets-text banner-3">MAGIC</p>
            </div>
            <div class="col-md-5 col-lg-4 col-sm-12 col-xs-12 banner-portfolio-section">

                <div class="no-padding col-lg-0 col-md-0 col-sm-3"></div>

                <div class="no-padding col-lg-12 col-sm-6 header-portfolio-section">
                    <div class="header-portfolio-section">
                        <p class="banner-text-portfolio">portfólio</p>
                        <p class="banner-text-year">2022</p>
                    </div>
                    <div class="border-support">
                        <div class="banner-portfolio-border"></div>
                    </div>
                    <div class="header-download-subection">
                        <img class="header-button" src="images/download.png">
                    </div>
                </div>

                <div class="no-padding col-lg-0 col-md-0 col-sm-3"></div>

            </div>

        </div>

    </header>

    <div class="row ad">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 ad-arrow">
            <img src="images/arrow-left.png">
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 ad-image">
            &nbsp; </div>
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 ad-arrow">
            <img style="float: right;" src="images/arrow-right.png">
        </div>
    </div>

    <div class="row values web-values">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 integridade">
            <p class="tittle-value"><em>INTEGRIDADE</em>
            </p>
            <div class="value-line"></div>
            <p class="description-value">
                Somos sérios, somos<br>
                íntegros, apenas<br>
                queremos trabalhar.<br>
                Temos ética e<br>
                trabalhamos dentro<br>
                dos padrões.
            </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 inovation">
            <p class="tittle-value "><em>INOVAÇÃO</em>
            </p>
            <div class="value-line"></div>
            <p class="description-value">
                Não somos<br>
                convecionais.<br>
                Trabalhamos fora da<br>
                caixa, não aceitamos o<br>
                status quo. Equipa<br>
                jovem que tem uma<br>
                visão do mercado<br>
                completamente<br>
                vibrante, e estamos<br>
                aqui para desafiar o<br>
                convecional.
            </p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <p class="tittle-value"><em>DEDICAÇÃO</em>
            </p>
            <div class="value-line"></div>
            <p class="description-value">
                Fazemos pelo cliente...<br>
                O consumidor/cliente<br>
                passa a ser nosso<br>
                parceiro. Lutamos juntos.<br>
                Uma equipa que vai no<br>
                "extra mile" para<br>
                garantir que os<br>
                resultados dos nossos<br>
                parceiros sejam<br>
                atingidos.
            </p>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <p class="tittle-value"><em>COMPROMISSO</em>
            </p>
            <div class="value-line"></div>
            <p class="description-value">
                Dizemos que<br>
                fazemos, e fazemos<br>
                o que sempre dissemos...<br>
                SEMPRE!
            </p>
        </div>
    </div>

    <%- include('partial/mobile-values.ejs') %>

    <div class="col-md-12 no-padding" style="position: relative;">
        <img src="images/gift.png" style="width: 100%;">
    </div>

    <div class="row section-working-label">
        <div class="col-md-12 no-padding">
            <p class="working-with-p">Trabalhando com
            </p>
            <div class="working-with-line "></div>
        </div>
    </div>

    <div class="row partners">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/1.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/2.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/3.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/4.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/5.png">
        </div>
        <div class="col-lg-1 col-md-1 small-display-none"></div>

        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 small-display-block">
            <img class="work-img" src="/images/6.png">
        </div>

    </div>


    <div class="row partners">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-2 col-md-2 small-display-none">
            <img class="work-img" src="/images/6.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/7.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/8.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/9.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/10.png">
        </div>
        <div class="col-lg-1 col-md-1 small-display-none"></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 small-display-block">
            <img class="work-img" src="/images/11.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 small-display-block">
            <img class="work-img" src="/images/12.png">
        </div>
    </div>


    <div class="row partners">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-2 col-md-2 small-display-none">
            <img class="work-img" src="/images/11.png">
        </div>
        <div class="col-lg-2 col-md-2 small-display-none">
            <img class="work-img" src="/images/12.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/13.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/14.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/15.png">
        </div>
        <div class="col-lg-1 col-md-1 small-display-none"></div>
    </div>


    <div class="row partners">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img class="work-img" src="/images/17.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img class="work-img" src="/images/17.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/16.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img class="work-img" src="/images/17.png">
        </div>
        <div class="col-lg-2 col-md-2 small-display-none">
            <img class="work-img" src="/images/17.png">
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>

    <div class="row download-section">

        <div class="col-lg-6 col-md-6 col-sm-12 download-section-left">
            <em>
                <p class="download-section-left-text banner-2-1">LET'S</p>
                <p class="download-section-left-text banner-2-2">MAKE</p>
                <p class="download-section-left-text banner-2-3">MAGIC</p>
            </em>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 download-section-rigth">

            <div class="portfolio-text-last-section">
                <p class="download-portfolio">PORTFÓLIO</p>
                <p class="download-year">2022</p>
            </div>


            <div class="download-section-line"></div>
            <div class="download-section-button">
                <div class="download-subection">
                    <img class="magic-button" src="images/download.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row section-working-label">
        <div class="col-md-12 no-padding team-section">
            <div class="col-md-3 col-lg-3 team-text-section">
                <p class="team-p team-text-float">O TEAM
                </p>
                <div class="team-line-tittle "></div>
            </div>
        </div>
    </div>

    <div class="row team-instinct">
        <p class="team-instinct-text">INSTINTO CRIATIVO</p>
    </div>

    <div class="row team-second-section">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 team-img">
            <img src="images/team/2.png">
            <p class="title"> SUELI CARLOS</p>
            <p class="office"><em>GESTORA DE CLIENTES</em></p>
            <p class="office">&nbsp;</p>
            <div class="team-line"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 team-img">
            <img src="images/team/3.png">
            <p class="title"> ELIZABETH FERNANDO</p>
            <p class="office"><em>DESIGNER</em></p>
            <p class="office"><em>UX & UI</em></p>
            <div class="team-line"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 team-img">
            <img src="images/team/4.png">
            <p class="title">IVANIRA OLIVEIRA </p>
            <p class="office"><em>DESIGNER</em></p>
            <p class="office"><em>MEDIA MANAGER</em></p>
            <div class="team-line"></div>
        </div>
    </div>

    <div class="row team-second-section">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 team-img">
            <img src="images/team/5.png">
            <p class="title">MAURO FRANÇA </p>
            <p class="office"><em>FUNDADOR</em></p>
            <p class="office"><em>DIRETOR CRIATIVO</em></p>
            <div class="team-line"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 team-img">
            <img src="images/team/6.png">
            <p class="title">MAURO SÉRGIO </p>
            <p class="office"><em>CO-FUNDADOR</em></p>
            <p class="office"><em>BUSINESS DEVELOPMENT</em></p>
            <div class="team-line"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 team-img">
            <img src="images/team/7.png">
            <p class="title">HÉLDER KIALA </p>
            <p class="office"><em>CO-FUNDADOR</em></p>
            <p class="office"><em>DIRECTOR EXECUTIVO</em></p>
            <div class="team-line"></div>
        </div>
    </div>


    <div class="row col-md-12" style="height: 50px; background-color: white;"></div>

    <footer>
        <div class="col-md-12 footer">
            <p class="footer-tittle">INSTINTO CRIATIVO</p>
        </div>

        <div class="col-md-12 contact-section">
            <a class="footer-link" href="https://www.instagram.com/obra_primata/">
                <div class="col-md-2 col-xs-2 footer-card">
                    <div class="icon"><i class="fa fa-instagram"></i></div>
                    <div>
                        <p>obra_primata</p>
                    </div>
                </div>
            </a>

            <a class="footer-link" href="https://www.facebook.com/people/Obra-Primata/100054256520443/">
                <div class="col-md-2 col-xs-2 footer-card">
                    <div class="icon"><i class="fa fa-facebook"></i></div>
                    <div>
                        <p>obra_primata</p>
                    </div>
                </div>
            </a>

            <a class="footer-link" href="https://www.behance.net/obraprimata">
                <div class="col-md-2 col-xs-2 footer-card">
                    <div class="icon"><i class="fa fa-behance"></i></div>
                    <div>
                        <p>obra primata</p>
                    </div>
                </div>
            </a>

            <a class="footer-link" href="tel:+244 925 770 777">
                <div class="col-md-2 col-xs-2 footer-card">
                    <div class="icon"><i class="fa fa-whatsapp"></i></div>
                    <div>
                        <p>+244 925 770 777</p>
                    </div>
                </div>
            </a>

            <a class="footer-link" href="mailto:info@obraprimata.com">
                <div class="col-md-2 col-xs-2 footer-card">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <div>
                        <p>info@obraprimata.com</p>
                    </div>
                </div>
            </a>

            <a class="footer-link" href="/">
                <div class="col-md-2 col-xs-2 footer-card">
                    <div class="icon"><i class="fa fa-globe"></i></div>
                    <div>
                        <p>www.obraprimata.com</p>
                    </div>
                </div>
            </a>
        </div>
    </footer>


</body>

</html>