<div class="row values mobile-values">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <p class="tittle-value"><em>DEDICAÇÃO</em>
        </p>
        <div class="value-line"></div>
        <p class="description-value">
            Fazemos pelo cliente...<br>
            O consumidor/cliente<br>
            passa a ser nosso<br>
            parceiro. Lutamos juntos.<br>
            Uma equipa que vai no<br>
            "extra mile" para<br>
            garantir que os<br>
            resultados dos nossos<br>
            parceiros sejam<br>
            atingidos.
        </p>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 inovation">
        <p class="tittle-value "><em>INOVAÇÃO</em>
        </p>
        <div class="value-line"></div>
        <p class="description-value">
            Não somos<br>
            convecionais.<br>
            Trabalhamos fora da<br>
            caixa, não aceitamos o<br>
            status quo. Equipa<br>
            jovem que tem uma<br>
            visão do mercado<br>
            completamente<br>
            vibrante, e estamos<br>
            aqui para desafiar o<br>
            convecional.
        </p>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <p class="tittle-value"><em>COMPROMISSO</em>
        </p>
        <div class="value-line"></div>
        <p class="description-value">
            Dizemos que<br>
            fazemos, e fazemos<br>
            o que sempre dissemos...<br>
            SEMPRE!
        </p>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 integridade">
        <p class="tittle-value"><em>INTEGRIDADE</em>
        </p>
        <div class="value-line"></div>
        <p class="description-value">
            Somos sérios, somos<br>
            íntegros, apenas<br>
            queremos trabalhar.<br>
            Temos ética e<br>
            trabalhamos dentro<br>
            dos padrões.
        </p>
    </div>
</div>